[submodule "misc/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = misc/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "misc/oh-my-zsh-custom/plugins/zsh-completions"]
	path = misc/oh-my-zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "misc/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = misc/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "misc/oh-my-zsh-custom/themes/powerlevel10k"]
	path = misc/oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
